 
 <div id="grid-home">
    <p><strong>Main area/more to come here &hellip;</strong></p>
</div>

<!-- -->   </div>  <!-- This line is the closing tag for #content-top (loacated in partial/sideNav) -->

<div id="content-bottom">

    <div id="grid-team">
       <p><strong> last content &hellip;</strong></p>
    </div>

<div id="grid-footer">
   <p>footer</p>
</div>

</div>
